@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #6460f1;
  font-family: "Nunito", Helvetica, Sans-Serif, serif;
  font-size: 1.2em;
  line-height: 35px;
}

a, a:visited, a:hover {
  color: #6460f1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}